@font-face{
    font-family: 'flood';
    src:url('../font/floodstd.otf');
    line-height: 18px;
}

body{
    padding: 0%;
    margin: 0% auto;
}

.nav1{
    display:flex;
}

.navigator{
    width:72%;
    text-align: right;
}

.navigator>li {
    display: inline-block;
    font: Lighter 1.2vw/150% Helvetica;
    padding: 2%;
    letter-spacing: 0.16vh;
    color: #354463;
    opacity: 1;
}

.name{
    padding-top: 2vh;
    padding-left: 4vw;
    width: 12vw;
    text-align: left;
    font:Bold 1.7vw/150% Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
}

.navigator>.status {
    background: #C1F7D5 0% 0% no-repeat padding-box;
    font:Bold 1.2vw/150% Helvetica;
    border-radius: 100px;
    opacity: 1;
}

.image{
    position: relative;
}

.image>img{
    width:100%;
}

.content-box{
    position: absolute;
    background-color: white;
    top: 31%;
    left: 6vw;
    width: 25vw;
    padding: 2%; 
}

.content-box > p{
    text-align: left;
    font:Bold 2vw/120% Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
}

.content-box > a{
    text-align: left;
    text-decoration: underline;
    font: Lighter 1vw/0% Helvetica;
    letter-spacing: -0.16vh;
    color: #354463;
    opacity: 1;
    margin:1%;
    padding: 1%;    
}

.div1 > p{
    text-align: center;
    position: absolute;
    color: #FFFFFF;
    background: #354463 0% 0% no-repeat padding-box;
    padding: 1%;
    font-size: 0.8vw;
    top: 26.5%;
    left: 9vw;
}

.footer{
    display: flex;
    flex-wrap: wrap;
    /* position: relative; */
    width: 100%;
    background-color: #C1F7D5;
    margin-top: -1%;
    padding-top: 2%;
    margin-left: 0%;
    padding-bottom: 4%;
}

.footer> .learn , .Donate , .Share , .Volunteer{
    display:flex;
    flex-direction: column;
    flex:19%;
    padding-left: 5vw;
    padding-top: 2vh;
}

.div2 > p{
    position: absolute;
    left: 43vw;
    top: 100%;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    padding: 1%;
    letter-spacing: 0.001vw;
    color: #FFFFFF;
    opacity: 1;
    font-size: 0.9vw;
}

.learn-head,.Donate-head,.Volunteer-head,.Share-head{
    text-align: left;
    font: Bold 1.5vw/2vh Helvetica;
    letter-spacing: 0;
    color: #354463;
    opacity: 1;
    margin:0%;
    margin-left: 0%;
}

.Slogan > p{
    color:white;
    top: 30vh;
    left: 54vw;
    position: absolute;
    font-family: 'flood';
    font-size:4.5vw;
    width:1vh;
}

.learn >p{
    text-align: left;
    font: Lighter 1vw/150% Helvetica;
    color: #354463;
    opacity: 1;
    width: 15vw;
}

.Donate > p{
    text-align: left;
    font: Lighter 1vw/150% Helvetica;
    color: #354463;
    opacity: 1;
    width: 15vw;
}

.Volunteer > p{
    text-align: left;
    font: Lighter 1vw/150% Helvetica;
    color: #354463;
    opacity: 1;
    width: 15vw;
}

.Share > p {
    text-align: left;
    font: Lighter 1vw/150% Helvetica;
    color: #354463;
    opacity: 1;
    width: 15vw;
}

@media screen and (max-width: 992px){
    
    .name{
        font: Bold 3vw/105% Helvetica;
        width: 22vw;
        margin-top: 2%;
        margin-bottom: 2%;
    }
      
    .navigator {
        width: 60%;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .navigator>li{
        font:Lighter 1.6vw/98% Helvetica;
        width: auto;
        margin-top: 0;
    }

    .navigator>.status{
        font: bold 1.6vw/98%  Helvetica;
        align-self: flex-start;
        padding-left: 12%;
        padding-right: 12%;
    }
    
    .image>img{
        height: 78vh;
        width: 100%;
    }
    
    .Slogan>p {
        top: 23vh;
        left: 17vw;
        font-size: 5.5vw;
    }
    
    .content-box{
        height: 20vh;
        top: 64%;
        left: 18vw;
        width: 59vw;
        padding: 3%;
    }
    
    .content-box > p {    
        margin-top: 0;
        font: Bold 3.5vw/4vh Helvetica;
    }
    
    .content-box>a{
        font: bold 1.5vw/1vh Helvetica;
        display: inline-block;
        letter-spacing: 0.29vh;
        margin: 0%;
        width: 100%;
        display: inline-block;
    }
    
    .div1>p{
        padding: 1%;
        font-size: 1.8vw;
        top: 59.5%;
        left: 22vw;
    }
    
    .div2>p{
        left: 40vw;
        top: 95.5%;
        font-size: 1.8vw;
        padding-left: 2%;
        padding-right: 2%;
    }
    
    .Volunteer-head, .Share-head, .Donate-head, .learn-head {
        font: Bold 3.5vw/4vh Helvetica;
    }
      
    .Volunteer>p, .Share>p, .Donate>p, .learn>p {
        font: Lighter 3.0vw/150% Helvetica;
        width: 44vw;
      
        flex: 55%;
    }
      
    .footer> .learn, .Donate, .Share, .Volunteer {
        flex: 40%;
    }
}
@media screen and (max-width: 600px){
    
    .content-box{
        top: 52%;
        height: 13vh;
        left: 19vw;
        width: 50vw;
        padding: 4%;
    }
    
    .content-box > p {
        font:Bold 3vw/167% Helvetica;

    }
    
    .footer> .learn, .Donate, .Share, .Volunteer{

        flex: 40%;
    }
    
    .content-box > a{
        font:2.0vw/143% Helvetica;
        
    }
    
    .image>img{
        height:69vh;
    }

    .div1>p{
        padding: 1%;
        font-size: 1.8vw;
        top: 50%;
        left: 24vw;
    }

    .div2>p{
        left: 38vw;
        top: 82.5%;
        font-size: 1.9vw;
    }
    
    .Slogan>p{
        top: 18vh;
        left: 18vw;
        font-size: 5.5vw;
    }
    
    .Volunteer-head,.Share-head,.Donate-head,.learn-head{
        font: Bold 2.5vw/4vh Helvetica;
    }
    
    .Volunteer>p,.Share>p,.Donate>p,.learn>p{
        font:Lighter 1.8vw/150% Helvetica;
        width:23vw;
        flex:55%;
    }
    
    .name{
        font:Bold 3vw/172% Helvetica;
        width: 22vw;
    }
    
    .navigator {
        width: 60%;
        text-align: right;
    }
    
    .navigator>li{
        font:Lighter 2.0vw/131% Helvetica;
        width: auto;
        margin-top: 0;
    }
    
    .navigator>.status{
        font:bold 2.0vw/120% Helvetica;
        align-self: flex-start;
        padding-left: 12%;
        padding-right: 12%;
    }
}